<%= turbo_frame_tag dom_id post do %>
  <%= form_with(
    model: post, 
    id: 'form',
    class: "contents",
    html: {
      data: { controller: 'notice', action: 'submit->notice#clear' }
    }
  ) do |form| %>
    <% if post.errors.any? %>
      <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
        <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
          <% post.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="my-5">
      <%= form.label :title %>
      <%= form.text_field :title, class: "block shadow rounded-md border border-gray-100 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="my-5">
      <%= form.label :content %>
      <%= form.rich_text_area :content, class: "block shadow rounded-md bg-white border border-gray-100 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="inline">
      <%= form.submit class: "rounded-lg py-3 px-5 bg-green-500 text-white object-cover shadow font-medium" %>
    </div>
  <% end %>
<% end %>
