<%= turbo_frame_tag dom_id @post do %>
  <div class="w-full bg-gray-100 p-4 rounded-md mt-5">
    <h1 class="font-bold text-4xl">Editing post</h1>

    <%= render "form", post: @post %>
    <%= link_to "Show this post", @post, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Back to posts", posts_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
<% end %>
