<div class="bg-gray-300 w-full mt-3">
  <div class="flex justify-between items-center mb-4">
    <h1 class="text-gray-900 text-2xl font-bold text-4xl">
      Posts page
    </h1>
    <%= link_to new_post_path, class: "rounded-full px-3 bg-green-500 text-white block font-medium", data: { 'turbo-frame': 'new_post' } do %>
      <svg class="w-12 h-12" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path></svg>
    <% end %>
  </div>

  <%= turbo_stream_from :posts %>
  <%= turbo_frame_tag :new_post %>

  <div class="flex bg-gray-300 mt-5 p-4 rounded-lg">
    <%= turbo_frame_tag :posts do %>
      <%= render @posts %>
    <% end %>
  </div>
</div>
