<%= turbo_frame_tag :new_post do %>
  <div class="w-full bg-gray-100 p-4 mt-3 rounded-md shadow-lg">
    <div class="flex justify-between items-center">
      <h1 class="flex text-2xl font-bold text-gray-700 text-4xl">
        Create new post
      </h1>
      <div class="text-sm">
        <%= link_to posts_path do %>
          <svg class="rounded-full px-3 my-4 bg-white w-12 h-12 object-cover shadow" fill="none" stroke="currentColor" viewBox="0 0 23 23" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path></svg>
        <% end %>
      </div>
    </div>

    <%= render "form", post: @post %>
  </div>
<% end %>
