<%= turbo_stream_from @post %>
<%= turbo_frame_tag dom_id(@post) do %>
  <div class="flex bg-gray-100 rounded-md shadow-lg mb-3 mt-3 p-4">
    <div class="flex items-start w-full px-4 py-6">
      <div class="w-full">
        <div class="flex mb-2 items-center justify-between">
          <h1 class="text-lg font-bold text-gray-900 text-4xl">
            <%= @post.title %>
          </h1>
          <small class="text-sm text-gray-700">
            <%= @post.created_at %>
          </small>
        </div>
        <p class="mb-4 mt-3 text-gray-700 text-sm">
          <%= @post.content %>
        </p>

        <div class="flex justify-between mt-3 px-3">
          <div class="text-sm">
            <%= link_to posts_path do %>
              <svg class="rounded-full px-3 my-4 bg-white w-12 h-12 object-cover shadow" fill="none" stroke="currentColor" viewBox="0 0 23 23" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18"></path></svg>
            <% end %>
          </div>
          <div class="text-sm">
            <%= link_to edit_post_path(@post) do %>
              <svg class="rounded-full px-3 my-4 bg-white w-12 h-12  object-cover shadow" fill="none" stroke="currentColor" viewBox="0 0 23 23" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"></path></svg>
            <% end %>
          </div>
          <div class="text-sm">
            <%= button_to post_path(@post), method: :delete, data: { controller: 'confirm', confirm_message_value: 'Deseja remover ?', action: 'click->confirm#dialog' } do %>
              <svg class="rounded-full px-3 my-4 bg-white w-12 h-12 object-cover shadow" fill="none" stroke="currentColor" viewBox="0 0 23 23" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path></svg>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
